body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-color: black;


}


@media all and (min-width: 801px) {
  #page {
    max-width: 1200px;
    margin: 0 auto;

  }

  #menuButton {
    display: none;

  }

  nav {
    border: groove 4px rgb(100, 200, 50);
    background-color: white;
    height: 50px;

  }

  nav li {
    float: left;
    padding-left: 10px;
    list-style-type: none;


  }
  main {
    float:left;
    width: 70%;
  }


  #ad {
    float: right;
    width: 25%;
    font-weight: bold;

    border: 7px dotted #ff00cc;
    background-color: #00ff00;
    padding: 5px;


  }


}

@media all and (max-width: 800px) {
    #page {
      margin: 0 auto;

    }

    #menuButton {
      display: block;
      font-size: 1.5em;

    }


    nav {
      border: groove 4px rgb(100, 200, 50);
      background-color: white;
      position: fixed;
      width: 100%;
      top: 0px;

    }

    nav li {
      list-style-type: none;


    }


    #ad {
      font-weight: bold;

      border: 7px dotted #ff00cc;
      background-color: #00ff00;
      padding: 5px;


    }



}






#content {
  background-color: #f0f0f0;
}

#mainHeader {
  background-color: rgb(95%, 95%, 95%);
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: -15px;
  background: linear-gradient(#f0f0f0, #ffffff);
  border-radius: 15px;
  padding-top: 10px;
  text-shadow: 0px 0px 10px #c0c0c0;
  transform: rotate(-0.5deg);



}

h1 {
  font-size: 3.3em;
  font-family: georgia;
  color: #333333;

}



main h2 + p::first-letter {
  font-size: 2em;
}

p {
  text-align: justify;
  margin: 0 5px;
  line-height: 1.3em;
  font-family: 'Maven Pro', sans-serif;

}

p + p {
  text-indent: 2em;

}




.firstP {
  line-height: 1.3em;

}


p strong {
  font-size: 1.2em;

}

blockquote {
  font-style: italic;

}

blockquote::before {
  content: '“';
  color: silver;
  font-size: 2.5em;
  margin-left: -12px;
  margin-right: 10px;
  float: left;
  font-family: georgia;
}

blockquote span.author {
  display: block;
  text-align: right;
  font-family: fantasy;
  color: #666666;

}


main {
  background-color: rgb(95%, 95%, 95%);

}



a {
  text-decoration: none;
  border-bottom: 1px dotted #a0a0a0;
  color: #000066;

}

nav a:link, nav a:visited {
  font-size: 1.3em;

}

nav a:hover, nav a:focus, nav a:active {
  border-bottom: 1px solid #a0a0a0;
  background: linear-gradient(#ffffff, #e0e0e0);

}

form input {
  display: block;
  margin-bottom: 5px;

}



footer {
  background-color: rgb(95%, 95%, 95%);
  clear: both;

  border: solid 2px #888888;
  padding: 5px;

}
